<<<<<<< 2542a4ee0918b9e9494c856f595bd6b7f70bdf90
<h1>Techtalks#list</h1>
<p>List of all techtalks</p>

<table class="table">
  <% @techtalks.each do |techtalk| %>
    <tr>
      <td><%=techtalk.name%></td>
      <td><%=techtalk.description%></td>
    </tr>
  <% end %>
</ul>
